{% extends 'base.html' %}

{%block main_page%}
<div class="container">
  <h1>Спортивный калькулятор</h1>

  <h3> <br><br> Калькулятор калорийности продуктов поможет вам узнать энергетическую ценность (количество калорий) интересующих
     Вас продуктов. С помощью данного калькулятора Вы также сможете подобрать для себя рацион питания.
    <br><br>Для этого выберите, определенный раздел какой вам нужен и посчитайте то что вам нужно.
  <br><br>Вы можете зарегестрироваться и сохранять ваши данные, тем самым наблюдать процесс.</h3>
</div>
{%endblock%}
