{%extends 'base.html'%}

{%block main_page%}
<div class="container">
  <h1>Калькулятор калорийности</h1>
  <form class="imt_calc" method="post">
    <div class="imt_calc_group">
      <label class = "imt_calc_form_label">Продукт: </label>
      <select class="articles" id = 'product' name = 'product' style = 'width: 51%'>
        {% for el in articles%}
        <option>{{ el.name }}</option>
        {%endfor%}
      </select>
    </div>
    <div class="imt_calc_group">
      <label class = "imt_calc_form_label">Вес, г.: </label>
      <input type="imt_calc_input" name = 'weight' id = "weight">
    </div>
    <div class="imt_class_group">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li style = 'color: red; font-weight: bold;'>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
    <button class = "imt_calc_form_button" type = "submit" name="button">Рассчитать</button>
  </form>
  <h3>При помощи этого калькулятора Вы сможете рассчитать калорийность, а также определить содержание белков, жиров и углеводов в продукте.
    Для этого выберите продукт из списка, укажите его вес и Вы получите полную информацию о его калорийности.
     </h3>
</div>
{%endblock%}
